
<div class="card border-dark text-bg-dark mb-3" >
  <div class="card-body">
  <h5 class="card-title">About Us</h5>
  <p>Jungle is a vibrant and user-friendly web application designed for plant enthusiasts and gardeners of all levels. It offers a diverse catalog of plants, from lush indoor varieties to hardy outdoor options, catering to various needs and preferences. Users can easily browse through detailed product pages, complete with high-quality images, care instructions, and pricing information. The app features a streamlined shopping experience, allowing customers to quickly add items to their cart and securely check out. Jungle also includes an intuitive admin dashboard that helps store managers efficiently track inventory and manage categories. The app emphasizes a clean and modern design, ensuring that both customers and administrators enjoy a seamless and engaging experience. With Jungle, plant shopping becomes a delightful journey, making it easier to find and care for the perfect plants for any space.</p>
  </div>
</div>
